# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment files
.env

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor files
.vscode/
.idea/

# Logs
*.log
error.log
/server/src/logs/

# Coverage
coverage/

# Debug
*.tgz

# Prisma
/prisma/migrations/
/prisma/dev.db
/.prisma/
